body *{
    margin: 0;
    padding: 0;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

canvas{
    position: absolute;
}

body{
    background-image: url(../images/kyuubi.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Arial;
    font-weight: bold;
    color: #dad730;
}

#conteneur{
    position: fixed;
    left: calc(50% - 600px); 
    bottom: 870px;
    border-top-left-radius: 3%;
}

#attacks{
    position: fixed;
    bottom: 10px;
    left: calc(50% - 270px);
    display: flex;
    justify-content: space-between;

}

#players_infos{
    position: absolute;
    top: 5px;
    left: 10px;
}

#players_infos img{
    position: absolute;
    z-index: 1;
}

#mp_hp_bar{
    position: relative;
    width: 330px;
    height: 50px;
    top: 40px;
    left: 55px;
    border-radius: 10px;
    border: 2px solid #856210;;
}


#mp_hp_bar > div{
    position: relative;
    width: 80%;
    height: 40%;
    border-radius: 10px;
    margin-top: 3px;
    border-radius: 10px;
    background-color: #856210;
    left: 60px;
}

.hp {
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    text-align: center;
}

.mp {
    background-color: rgb(27, 140, 206);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#boss_life{
    position: absolute;
    top: 45px;
    right: 20px;
    width: 330px;
    height: 50px;
}

#boss_life > div{
    border-radius: 10px;
    background-color: #856210;
    width: 98%;
    height: 86%;
    margin: 1% 0 0 1%;
}

.anAttack{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 180px;
    height: 60px;
    margin-right: 10px;
    background-image: url(../images/headband.jpg);
    opacity: 0.3;
}

.anAttack * {
    display: flex;
    flex-wrap: wrap;
}

.attack_name{
    margin-left: 10px;
    font-size: 1.5em;
}

.second_line{
    margin-left: 10px;
    font-size: 0.9em;
}

.second_line > div{
    margin-right: 2.5px;
}

#game_name{
    position: absolute;
    top: 20px;
    right: 20px;
}

#buffer{
    height: 45px;
    width: 200px;
}

.bar{
    border-radius: 10px;
    border: 2px solid #856210;
    background-color: #ce900b;
}

.allie_bar{
    position: relative;
    width: 275px;
    height: 25px;
    left: 110px;
    border-radius: 10px;
    border: 2px solid #856210;
    background-color: #ce900b;
}

.allie_bar > div{
    border-radius: 10px;
    background-color: #856210;
    width: 98%;
    height: 75%;
    margin: 1% 0 0 1%;
}

#gameElements{
    visibility: hidden;
}