body *{
    margin: 0;
    padding: 0;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

canvas{
    position: absolute;
}

body{
    background-image: url(../images/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#log_in{
    position: absolute;
    color: goldenrod;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Copperplate Gothic";
    background-image: url(../images/sharingan.png);
    top: 30%;
    left: 62%;
    padding: 10px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vh;
    height: 40vh;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
}

#form_login{
    position: relative;
    top: -5%;
    width: 60%;
}

#log_in *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
}

button{
    padding:  0.5em 2em;
    color: goldenrod;
}