body *{
    margin: 0;
    padding: 0;
}

html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
}

canvas{
    position: absolute;
}

body{
    background-image: url(../images/backgroundMenu.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: Arial;
    color: rgb(74, 57, 57);
}

#logOutBar{
    background-color: rgba(100,255, 40, 0.6);
    width: 100%;
    height: 5%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid greenyellow 2px;
}

#logOutBar label{
    margin: auto;
    font-size: 2vh;
}

#user_info{
    background-color: rgba(100,255, 100, 0.5);
    font-weight: bold;
    border-radius: 10px;
    width: fit-content;
    padding: 1em;
    position: fixed;
    top: 40%;
    left: 20px;
    border: solid greenyellow 2px;
    visibility: hidden;
}

#user_info > div{
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}

.game{
    background-color: rgba(100,255, 100, 0.5);
    border-radius: 10px;
    display: flex;
    float: left;
    flex-flow: column nowrap;
    padding: 1em;
    margin: 0.5em;
    font-family: Arial;
    color: rgb(74, 57, 57);
    min-width: 20%;
    border: solid greenyellow 2px;
}

.game > * {
    font-size: 1.2em;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.game > :nth-child(2) {
    font-size: 2em;
}


#board{
    overflow-y: scroll;
    position: fixed;
    top: 15%;
    left: 20%;
    width: 60%;
    height: 75%;
    visibility: hidden;
}

#board::-webkit-scrollbar {
    width: 1%;
}
 
#board::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(17, 177, 89, 0.9);
}
 
#board::-webkit-scrollbar-thumb {
  background-color: rgba(0, 177, 89, 0.8);
  outline: 1px solid slategrey;
}

